<h2>Song Selections</h2>

{{paper-input label="first dance" value = firstDance}}

{{paper-input label="parent dance" value = parentDance1}}

{{paper-input label="parent dance" value = parentDance2}}

<p>if we are performing for your ceremony please fill out the below song selections</p>

{{paper-input label="processional" value = processional}}

{{paper-input label="bridal entrance" value = bridalEntrance}}

{{paper-input label="recessional" value = recessional}}

{{outlet}}
